data/models/**/*.bmp filter=lfs diff=lfs merge=lfs -text
data/models/*.obj filter=lfs diff=lfs merge=lfs -text
data/models/*.mtl filter=lfs diff=lfs merge=lfs -text
data/models/**/*.obj filter=lfs diff=lfs merge=lfs -text
data/models/**/*.mtl filter=lfs diff=lfs merge=lfs -text
